<h1>Update the <%=@project.title%></h1>

<form action="/projects/<%=@project.id%>" method="post">

  <input name="_method" type="hidden" value="patch">

  <div class="form-group">
     <label for="title">Rename the Project:</label>
     <input name="title" class="form-control" type="text">
  </div>
  <br>
  <button class="btn btn-default">Update Project</button>
</form>
<hr>

<form action="/projects/<%=@project.id%>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button class="btn btn-default">Delete Project</button>
</form>
<br>
